page-login {
  // ion-content{
  //   background-color: #2A71B7!important
  // }
  .logo-container{
    height:14em;
    background-color:#3472B9;
    padding:0;
    .img-logo{
      width:100%;
      margin-top:3em;
      img{
        max-width:150px;
        max-height:150px;
      }
    }
  }
  ion-grid{

    ion-row{
      ion-col{
        text-align:center!important;
      }
    }
    input{
      width:100%;
      padding:1.2em!important;
      border:1px solid #ccc !important
    }
    b{
      text-align:left!important;
      font-size: 10pt!important;
    }
  }
  // or
  hr.style17 {
    border-top: 1px solid #8c8b8b;
    text-align: center;
  }
  hr.style17:after {
    content: 'or';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #FFF;
    color: #8c8b8b;
    font-size: 16px;
  }
  // social media
  .social-login{
    padding:5px 16px;
    ion-icon{
      margin-right: 0.8em;
    }
  }
  .fb-bg {
    background: #3b5998;
  }

  .fb-bg:hover{
    cursor: pointer;
  }

  .fb-bg:active{
    background: #354f88;
  }

}
